
@{
    ViewBag.Title = "Doctors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-8 col-12">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>
                <h2 class="breadcrumb-title">Search Doctors</h2>
            </div>
            @*<div class="col-md-4 col-12 d-md-block d-none">
                <div class="sort-by">
                    <span class="sort-title">Sort by</span>
                    <span class="sortby-fliter">
                        <select class="select form-select">
                            <option>Select</option>
                            <option class="sorting">Rating</option>
                            <option class="sorting">Popular</option>
                            <option class="sorting">Latest</option>
                            <option class="sorting">Free</option>
                        </select>
                    </span>
                </div>
            </div>*@
        </div>
    </div>
</div>
<!-- /Breadcrumb -->
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

                <!-- Search Filter -->
                <div class="card search-filter">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Search Filter</h4>
                    </div>
                    <div class="card-body">
                        <div class="filter-widget">
                            <h4>Gender</h4>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type" GenderId="1" class="Genders">
                                    <span class="checkmark"></span> Male Doctor
                                </label>
                            </div>
                            <div>
                                <label class="custom_check">
                                    <input type="checkbox" name="gender_type" GenderId="2"  class="Genders">
                                    <span class="checkmark"></span> Female Doctor
                                </label>
                            </div>
                        </div>
                        <div class="filter-widget">
                            <h4>Select Specialist</h4>

                            @foreach (var item in ViewBag.Specialities as List<Clinic.DAL.Model.SP_Specialities_GetData_Result>)
                            {

                                <div>
                                    <label class="custom_check">
                                        <input type="checkbox" name="select_specialist" SpecialityId="@item.SpecialityId" class="Specialities">
                                        <span class="checkmark"></span> @item.SpecialityName
                                    </label>
                                </div>
                            }

                        </div>
                        <div class="btn-search">
                            <button type="button" class="btn w-100" onclick="GetList();">Search</button>
                        </div>
                    </div>
                </div>
                <!-- /Search Filter -->

            </div>

            <div class="col-md-12 col-lg-8 col-xl-9" id="DoctorContainer">




            </div>
        </div>

    </div>

</div>
<!-- /Page Content -->

@section scripts{
    
    <script>


        $(function () {
            GetList();

        });

        function GetList() {

            debugger;

            let genderIds = [];
            let specialityIds = [];

            if ($(".Genders:checked").length > 0) {
                $('.Genders:checked').each(function () {
                    let genderId = $(this).attr('GenderId');
                    genderIds.push(genderId);
                });
            }

            if ($(".Specialities:checked").length > 0) {
                $('.Specialities:checked').each(function () {
                    let specialityId = $(this).attr('SpecialityId');
                    specialityIds.push(specialityId);
                });
            }

           
            $.ajax({
                url: "/Home/GetDoctors",
                type: "GET",
                data: { GenderIds: genderIds.join(), SpecialityIds: specialityIds.join() },
                success: function (data) {
                    $("#DoctorContainer").html(data);
                },
                error: function () {

                }

            });

        }
        
    </script>
    
    }